@font-face {
	font-family: "Nexa";
	scr:url("Nexa_Light.otf");
}

@font-face {
	font-family: "Nexa";
	font-weight: bold;
	scr:url("Nexa_Bold.otf");
}

body {
	background-color: #BEDFEE;
	font-family: "Nexa";
	color: black;
}

.title {
	position: absolute;
	text-align: center;
	top: 240px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
	
	font-size: 150px;
}

#home {
	position: absolute;
	font-size: 20px;
	top: 15px;
	right: 15px;
}