@font-face {
	font-family: "Nexa";
	scr:url("Nexa_Light.otf");
}

@font-face {
	font-family: "Nexa";
	font-weight: bold;
	scr:url("Nexa_Bold.otf");
}

body {
	background-color: #BEDFEE;
	font-family: "Nexa";
}

#title {
	position: absolute;
	text-align: center;
	font-size: 120px;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

.description {
	position: absolute;
	text-align: center;
	font-size: 40px;
	top: 335px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

#button-wrapper {
	position: absolute;
	text-align: center;
	font-size: 18px;
	top: 460px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;	
}

#link {	
	font-weight: bold;
	font-size: 30px;
	background: none;
	border:none;
	color: #efa543;
}