@font-face {
	font-family: "Nexa";
	scr:url("Nexa_Light.otf");
}

@font-face {
	font-family: "Nexa";
	font-weight: bold;
	scr:url("Nexa_Bold.otf");
}

body {
	background-color: #BEDFEE;
	font-family: "Nexa";
}

#title {
	position: absolute;
	text-align: center;
	font-size: 120px;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

#register {
	position: absolute;
	text-align: left;
	font-size: 16px;
	width: 300px;
	top: 300px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

#button-wrapper {
	position: absolute;
	text-align: center;
	font-size: 18px;
	top: 550px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;	
}

.link0 {	
	font-size: 30px;
	font-weight: bold;
	background: none;
	border:none;
	color: #efa543;
}

.form-control {
	text-align: center;
}