@font-face {
	font-family: "Nexa";
	scr:url("Nexa_Light.otf");
}

@font-face {
	font-family: "Nexa";
	font-weight: bold;
	scr:url("Nexa_Bold.otf");
}

body {
	display: none;
	background-color: #BEDFEE;
	font-family: "Nexa";
}

.vraag {
	position: absolute;
	text-align: center;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
	
	font-size: 60px;
}

.description {
	position: absolute;
	text-align: center;
	font-size: 22px;
	top: 260px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

.icons {
	position: absolute;
	text-align: center;
	top: 325px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

.icons-tags {
	position: absolute;
	text-align: center;
	font-size: 26px;
	top: 505px;
	bottom: 0px;
	left: 30px;
	right: 0px;
	
	margin: auto;
}

#home {
	position: absolute;
	font-size: 20px;
	top: 15px;
	right: 15px;
}

#back {
	position: absolute;
	font-size: 20px;
	top: 15px;
	right: 120px;
}