body {
	background-color: #F1A2B0;
	font-family: "Nexa";
}

.vraag {
	position: absolute;
	text-align: center;
	top: 150px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
	
	font-size: 80px;
}

.description {
	position: absolute;
	text-align: center;
	font-size: 22px;
	top: 260px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

.icons {
	position: absolute;
	text-align: center;
	top: 325px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
}

.icons-tags {
	position: absolute;
	text-align: center;
	font-size: 20px;
	top: 475px;
	bottom: 0px;
	left: -12px;
	right: 0px;
	
	margin: auto;
}

#home {
	position: absolute;
	font-size: 20px;
	top: 15px;
	right: 15px;
}